{% extends "index.html" %}

<!-- Add Title Here -->
{% block title %}Contact{% endblock title %}

<!-- Add CSS Here -->
{% block css %}
  {% load static %}
  <link rel="stylesheet" href=" {% static 'shop/MINCSS/contact.min.css' %} "> 
{% endblock css %}

<!-- Add Body Here -->
{% block body %}
  {% load static %}
  <section class="contact">
    <div class="contactheading bg">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi asperiores repudiandae porro dolor molestias harum optio quo nostrum non recusandae.</p>
    </div>
    <div class="containercontact bg">
      <div class="contactinfo">
          <div class="box">
              <div class="icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>             
              <div class="text">
                <h3>Address</h3>
                <p>157 Pratappura <br>Burhanpur M.P. <br>450331</p>
              </div>  
          </div>
          <div class="box">
              <div class="icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>             
              <div class="text">
                <h3>Contact Number</h3>
                <p>07325-225246</p>
              </div>  
          </div>
          <div class="box">
              <div class="icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>             
              <div class="text">
                <h3>Email</h3>
                <p>dgmarket11@gmail.com</p>
              </div>  
          </div> 
      </div>
      <div class="contactform">
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          {% if name %}
            <h2>We got your message - {{name}}</h2>
            <p>We will tring to this website is work very simple to use {{date}}</p>
          {% else %}
            <h2>Send Message</h2>
            {% for form in confm %}
              <div class="entries">
                {{form}}
                <span>{{form.label}}</span>
              </div>
            {% endfor %}
            <div class="entries">
              <input type="submit" name='submit' value="Send">
            </div>
          {% endif %}
        </form>
      </div>
    </div> 
  </section>
{% endblock body %}

<!-- Add JS Here -->
{% block js %}

{% endblock js %}