{% extends 'index.html' %}

{% block title %}
    Forgot Password
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/CSS/forgotpassword.css' %}">
{% endblock css %}

{% block body %}
    <section class="forgotpw">
        <div class="contantbx bg">
            <div class="formbx">
                <h2>Forgot Password</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for fm in fgpass %}
                        <div class="inputbx">
                            <span class="placeholder">{{fm.label_tag}}</span>
                            <label for="">
                                {{fm}}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="inputbx">
                        <input type="submit" value="Forgot Password">
                    </div>
                    <div class="inputbx">
                        <p>Don't have an account? <a href="{% url 'registration' %}">Sign Up</a></p>
                        <p>Already have a account? <a href="{% url 'login' %}">Sign In</a></p>
                        <p class="center"><a href="{% url 'changepassword' %}">Password Change</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock body %}