{% extends 'index.html' %}

{% block title %}
    Login
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/CSS/login.css' %}">
{% endblock css %}

{% block body %}

    <section class="login">
        <div class="contantbx bg">
            <div class="formbx">
                <h2>Login</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for fm in logfm %}
                        <div class="inputbx">
                            <span class="placeholder">{{fm.label_tag}}</span>
                            <label for="">
                                {{fm}}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="inputbx">
                        <input type="submit" value="Sign In">
                    </div>
                    <div class="inputbx">
                        <p>Don't have an account? <a href="{% url 'registration' %}">Sign Up</a></p>
                        <p class="center"><a href="{% url 'forgotpassword' %}">Forgot Password</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock body %}