{% extends 'index.html' %}

{% block title %}
    Registration
{% endblock title %}

{% block css %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/MINCSS/registration.min.css' %}">
{% endblock css %}

{% block body %}
{% load socialaccount %}
    <section class="register">
        <div class="contantbx bg">
            <div class="formbx">
                <h2>Register</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for fm in regfm %}
                        <div class="inputbx">
                            <span class="placeholder">{{fm.label_tag}}</span>
                            <label for="">
                                {{fm}}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="inputbx">
                        <input type="submit" value="Sign Up">
                    </div>
                    <div class="inputbx">
                        <p>Already have a account? <a href="{% url 'login' %}">Sign In</a></p>
                        <p class="center"><a href="{% url 'forgotpassword' %}">Forgot Password</a></p>
                    </div>
                </form>
                <h3>Register with social media</h3>
                <ul class="sci">
                   <!--  <li><a href="{% provider_login_url 'facebook' process='connect' %}"><i class="fab fa-facebook-f"></i></a></li> -->
                    <li><a href="{% provider_login_url 'twitter' process='connect' %}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{% provider_login_url 'google' process='connect' %}" target="_blank"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock body %}